@page {
    margin: 2.5cm 2.5cm;
    size: 21cm 29.7cm;
    
    @bottom-right {
        content: counter(page) " / " counter(pages);
        font-family: 'Roboto', 'Helvetica-Neue', 'Arial';
        font-weight: 300;
    }
    @top-right {
        background-image: url("git-logo.png");
        background-size: 36mm 16mm;
        content: "";
        width: 36mm;
        height: 16mm;
        margin-bottom: 3mm;
    }
}

h1, h2, h3, h4, p, blockquote, table, li {
    font-family: 'Roboto', 'Helvetica-Neue', Arial;
    font-weight: 300;
}

pre, pre code {
    font-family: 'Monaco';
}

h1 {
    font-size: 2.1em;
    font-weight: 100;
    padding: 0.8em 0 1em 0;
    border-bottom: none;
    counter-reset: h2counter;
}

h2 {
    font-size: 1.6em;
    padding: 1.2em 0 0 0;
    color: cornflowerblue;
    counter-increment: h2counter;
    counter-reset: h3counter;
}
h2::before {
    content: counter(h2counter, upper-alpha) ".\A0\A0\A0\A0"
}

h3 {
    font-size: 1.3em;
    margin-left: 10mm;
    padding: 1em 0 0 0;
    color: cornflowerblue;
    counter-increment: h3counter;
    counter-reset: h4counter;
}
h3::before {
    content: counter(h3counter, upper-roman) ".\A0\A0"
}

h4 {
    margin-left: 20mm;
    color: cornflowerblue;
    counter-increment: h4counter;
}
h4::before {
    content: counter(h4counter, decimal) ".\A0"
}

p, li{
    line-height: 1.8em;
    hyphens: auto;
    text-align: justify;
}

li > p {
    margin-top: 0;
    margin-bottom: 0;
}

/* page numbers will be available with milestone 43 release of weasyprint; awesome!*/
li > a::after {
    content: target-counter(attr(href), page);
}

h1, h2, h3, h4 {
    font-weight: inherit;
    page-break-after: avoid;
}

div.page-break {
    page-break-after: always;
}

blockquote {
    background-color: #ccc;
    padding: 0 2mm 0 2mm;
    color: black;
    border-left: 1mm solid rgb(67, 115, 247);  
}

pre, pre code.hljs {
    background-color: #eee;
}

pre  {
    padding: 2mm;
    margin: 3mm;
    border-radius: 2mm;
}

strong {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    color: #333;
    margin: auto;
}

tr:nth-child(even) {
    background: #ccc;
}

tr:nth-child(odd) {
    background: white;
}

td, th {
    border: 1px solid #bbb;
    padding: 3mm;
}

th {
    background: #777;
    text-align: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}