@page {
    margin: 2.5cm 2.5cm;
    size: 21cm 29.7cm;
    
    @bottom-right {
        content: counter(page) " / " counter(pages) 
    }
    @top-right {
        background-image: url("git-logo.png");
        background-size: 36mm 16mm;
        content: "";
        width: 36mm;
        height: 16mm;
        margin-bottom: 3mm;
    }
}

* {
    font-family: 'Roboto', 'Helveticy-Neue', Arial;
    font-weight: 300;
}

body {
    counter-reset: h2counter;
}

h1 {
    font-size: 2.1em;
    font-family: 'Roboto', 'Helveticy-Neue', Arial;
    font-weight: 100;
    padding: 0.8em 0 1em 0;
    border-bottom: none;
    counter-reset: h2counter;
}

h2 {
    font-size: 1.6em;
    font-weight: 300;
    padding: 1.2em 0 0 0;
    color: cornflowerblue;
    counter-increment: h2counter;
}
h2::before {
    content: counter(h2counter, upper-alpha) ".\A0\A0\A0\A0"
}

p {
    line-height: 1.8em;
    hyphens: auto;
    text-align: justify;
}

h1, h2, h3, h4 {
    page-break-after: avoid;
}

div.page-break {
    page-break-after: always;
}